<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.september.tabelline"
        version   = "2.2.0">
    <name>Tabelline</name>

    <description>
        Impara le tabelline divertendoti
    </description>

    <author href="http://septembercore.tumblr.com/" email="chris.geymo@gmail.com">
        SeptemberCore
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />
    <icon src="res/drawable-mdpi/ic_launcher.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/drawable-hdpi/ic_launcher.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/drawable-xhdpi/ic_launcher.png"  gap:platform="android"    gap:density="xhdpi" />
    
</widget>

